@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#container {
    background-color: white;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% 20% 20% 20%;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

.contact {
    margin-left: 5%;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 100%;
    word-wrap: break-word;
    padding-right: 30px;
}

h1 {
    text-align: center;
}

#description {
    height: 30%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: normal;
}

a {
    text-decoration: none;
    color: black;
}

.name {
    margin-bottom: 10px;
    font-size: 140%
}