#container {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: grid;
    grid-gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.image {
    border-radius: 50%;
    margin: auto;
}

#description {
    width: 100%;
    height: 30%;
    border: greenyellow solid 1pt;
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    margin-top: 20px;
}