@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}



#container {
    background-color: white;
    width: 90%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20%;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

.contact {
    margin-left: 5%;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 100%;
    word-wrap: break-word;
    padding-right: 30px;
}

h1 {
    text-align: center;
    margin: auto;
    padding-top: 15px;
    width: 90%;
}

#description {
    width:100%;
    min-height: 100px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    max-width: 70%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: normal;
}

a {
    text-decoration: none;
    color: black;
}

.name {
    margin-bottom: 10px;
    font-size: 140%
}

@media (min-width:1000px) {
    #container {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        height: 50vh;
    }
}