@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
.card {
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

#main {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    display:flex;
    flex-direction:row;
    flex-grow: 1;
    justify-content:space-around;
    height: fit-content;
}
#main .card {
    margin: auto;
    height: 80%;
    width: 60%;
    
}

#formmsg{
    color:red;
}

#form input{
    font-size:18px;
    width:72.6%;
    padding:10px;
    border-radius:4px;
    margin:auto;
    border-color:gainsboro;
    border-width:thin;
    border-style: solid;
        -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin-top:1em;
}

#form input:focus {
    outline: none;
    border: 1px solid #007ACC;
}

#form input::placeholder {
    color: gainsboro;
    font-style:italic;
    font-weight:lighter;
}

button {
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom:0.75em;
    height:50px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius:4px;
    font-weight:bold;
    margin:1em;
    font-size:90%;
}

#form{
    font-size: larger;
    margin: 2.5%;
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

#form * {
    margin-top:1.5em;
}
#form #logo {
    font-size: 60pt;
}

#tabs {
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#profile, #title, #savedTrees {
    margin-left: 5%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: x-large;
    font-weight: bold;
}

#title_match{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.selectedTitle {
    color: black !important;
}

#profile {
    text-align: center;
    margin:auto;
}

#result {
    margin: 2.5%;
    text-align: center;
}

#result p{
    margin: 2px
}

#results .card {
    display: grid;
    grid-template-columns: 15% 42% 42%;
    grid-template-rows: 100%;
    margin-bottom:1em;
    margin-left: 5%;
    margin-right: 5%;
}

#results .card.history {
    grid-template-columns: 20% 80%;
    margin-bottom:1em;
}

#results .card .tree {
    text-align: right;
}

#results .card div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
}

#profileContainer {
    margin-left: 5%;
    margin-right: 5%;
    cursor: default;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: white;
}

.right{
    text-align: right;
}

#profileContainer > p {
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.card:hover {
    background: rgb(236, 236, 236);
}

.card.selected {
    background: rgb(236, 236, 236);
}

.tag {
    background:#ececec;
    color:black;
    padding: 0.5em;
    border-radius: 2em;
    font-size: 100%;
    width:100px;
    height:20px;
    display:inline-block;
    text-align:center;
}

.tag.selected {
    background: gray;
    color:white;
}

body {
    background-color: whitesmoke;
}

#title, #profile, #savedTrees, #title_match {
    box-shadow: none;
    background-color: transparent;
    cursor: default;
    border:none;
}

#title, #savedTrees {
    text-align: center;
    cursor: pointer;
    color: #8a8a8d;
}

#userNameArea, #emailArea, #viewsaved {
    text-decoration: underline;     
    cursor: pointer;
} 

.common-name {
    font-weight: 900;
    margin-bottom: 1em;
}

.street-name {
    font-weight: lighter;
    margin-top:1em;
    color: #8a8a8d
}

.species-name {
    font-style: italic;
    color:#8a8a8d
}

.message {
    border-right: 1px solid rgb(236, 236, 236);
    box-sizing:border-box;
}

#date {
    background-color:white;
}
