@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.card {
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

#main {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: fit-content;
}
#main .card {
    margin: auto;
    height: 80%;
    width: 60%;
    
}

#formmsg{
    color:red;
}

#form input{
    height: 30pt;
    text-align: center;
    font-size: larger;
    max-width: 60%;
}

#form button{
    height: 30pt;
    font-size: larger;
}

#result button{
    height: 30pt;
    font-size: larger;
}

#form{
    font-size: larger;
    margin: 2.5%;
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

#form *{
    margin-top: 2%;
}

#form #logo {
    font-size: 60pt;
}

#profile, #title {
    margin-left: 5%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: x-large;
    font-weight: bold;
}

#result {
    margin: 2.5%;
    text-align: center;
}

#result p{
    margin: 2px
}

#results .card {
    display: grid;
    grid-template-columns: 15% 42% 42%;
    grid-template-rows: 100%;
    margin-bottom:1em;
    margin-left: 5%;
    margin-right: 5%;
}

#results .card.history {
    grid-template-columns: 20% 80%;
    margin-bottom:1em;
}

#results .card .tree {
    text-align: right;
}

#results .card div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
}

#profileContainer {
    margin-left: 5%;
    margin-right: 5%;
    cursor: default;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
}

.right{
    text-align: right;
}

#profileContainer p {
    margin-top: 10%;
    margin-bottom: 10%;
}

.card:hover {
    background: rgb(236, 236, 236);
}

.card.selected {
    background: rgb(236, 236, 236);
}

body {
    background-color: whitesmoke;
}

#title, #profile {
    box-shadow: none;
    background-color: whitesmoke;
    cursor: default;
    border:none;
}

#userNameArea, #emailArea, #viewsaved {
    background-color: whitesmoke;
    cursor: pointer;
} 

.common-name {
    font-weight: 900;
    margin-bottom: 1em;
}

.street-name {
    font-weight: lighter;
    margin-top:1em;
    color: #8a8a8d
}

.species-name {
    font-style: italic;
    color:#8a8a8d
}

.message {
    border-right: 1px solid rgb(236, 236, 236);
    box-sizing:border-box;
}