@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.card {
    /* border: darkgreen solid 1pt;
    color: darkgreen;
    cursor: pointer;
    margin: 5%;
    border-radius: 5px; */
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

#main {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: fit-content;
}
#main .card {
    margin: auto;
    height: 80%;
    width: 60%;
    
}

#formmsg{
    color:red;
}

#form input{
    height: 30pt;
    text-align: center;
    font-size: larger;
    max-width: 60%;
}

#form button{
    height: 30pt;
    font-size: larger;
}

#result button{
    height: 30pt;
    font-size: larger;
}

#form{
    font-size: larger;
    margin: 2.5%;
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

#form *{
    margin-top: 2%;
}

#form #logo {
    font-size: 60pt;
}

#menu .card {
    margin-left: 5%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: x-large;
    font-weight: bold;
}

#result {
    margin: 2.5%;
    text-align: center;
}

#result p{
    margin: 2px
}

#results .card {
    display: grid;
    grid-template-columns: 15% 42% 42%;
    grid-template-rows: 100%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#results .card.history {
    grid-template-columns: 20% 80%;
}

#results .card .tree {
    text-align: right;
}

#results .card div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
}

.card:hover {
    /* background-color: darkgreen;
    color: white; */
    background: rgb(236, 236, 236);
}

.card.selected {
    background: rgb(236, 236, 236);
}

body {
    background-image:
    linear-gradient(217deg, #176314, #78E874 70.71%);
}