@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Kits-Beach-Vancouver.jpg/2560px-Kits-Beach-Vancouver.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#logo-bg {
    margin: auto;
    width: fit-content;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 4px;
    margin: 1em;
    margin-left: 12.5vw;
    width: 50vw;
    padding: 2em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

#container {
    width: fit-content;
    margin: 1em;
}

a {
    text-decoration: none;
    color: black;
}