#profileOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 59, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#viewIndividualTreeOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 59, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
