.main-container { 
    position: fixed;
    overflow-y: auto;
    z-index: -1;
    left: 0;
    bottom: 54px;
    top: 0;
    right: 0;
    height:auto;
    width:auto;
}

.nav-bar {
    position: absolute;
    bottom: 0;
    left:0;
    height: 54px;
    width: 100%;
    background-color: whitesmoke;
    align-items: center;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    border-top:1px solid gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    z-index:2;
    grid-template-areas:
        "mb1 mb2 mb3 mb5 mb4";
}

.mb1 {
    grid-area: mb1;
}

.mb2 {
    grid-area: mb2;
}

.mb3 {
    grid-area: mb3;
}

.mb4 {
    grid-area: mb4;
}

.mb5{
  grid-area: mb5;
}

.mb1,
.mb2,
.mb3,
.mb4,
.mb5 {
    margin: auto;
    margin-top: 15px;
}

.highlight {
    filter: invert(50%) sepia(30%) saturate(2595%) hue-rotate(349deg) brightness(100%) contrast(91%);
}


#loginContainerPopup {
    /* width: 270px;
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
 */
 top: 10em;
 left: 50%;
 margin-left: -135px;
    text-align: center;
    z-index: 2;
    border-radius: 4px;
    background-color:white;
    margin: auto;
    height: 92%;
    max-width: 475px;
    max-height:500px;
    overflow-y:auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: all;
    opacity:98%;
  }
  
  #loginContainerPopup>.loginNavBar {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
    gap:4px;
    height:50px;
  }
  
  .navButton {
    background:#ececec;
    color:black;
    padding: 0.5em;
    border-radius: 2em;
    font-size: 100%;
    width:80px;
    height:20px;
    display:inline-block;
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
  }
  
  #loginContainerPopup>.loginSignupformContainer {
    padding: 1em;
    border-radius: 5px;
    
  }
  .selectedNav {
    background: gray;
    color:white;
  }
  
  #loginContainerPopup>.loginSignupformContainer>div>input {
    font-size:18px;
    width:72.6%;
    padding:10px;
    border-radius:4px;
    margin:auto;
    border-color:gainsboro;
    border-width:thin;
    border-style: solid;
        -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin-bottom:4px;
  }
  
  
  #profileHamburgerMenu {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 53px;
    right: 2px;
    display: none;
    user-select: none;
    backdrop-filter: blur(10px);
  }
  
  #profileHamburgerMenu>div {
    text-align: center;
    border-color:gainsboro;
    border-width:thin;
    border-style: solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 5px;
    margin-bottom:10px;
    font-weight:500;
    background:rgba(255, 255, 255, 0.7);
    color:black;

  }
  
  #navbarHamProfileButton {
    display: none;
  }

  #login-header {
    color:gray;
    font-size:110%;
    margin:10px;
    height:20px;
    display:block;
  }

.login-container { 
    user-select: none;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0px;
    width:100%;
    height: 100%;
    overflow: visible;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.548));
    pointer-events: none;
    padding: 1em;
    box-sizing:border-box;
    backdrop-filter: blur(16px);
}

#outer-login {
    border-radius: 4px;
    background-color:rgb(247, 247, 247);
    margin: auto;
    /* margin-top:1em; */
    height: 100%;
    max-width: 420px;
    max-height: 355px;
    overflow-y:hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: all;
}

#loginMsg{
    color:red;
    height:100%;
    display:block;
    margin:auto;
}
#signupMsg{
    color:red;
    height:100%;
    display:block;
    margin:auto;
}

.signInWithGoogle {
  height:50px;
  width: auto;
}

#loginSubmit, #signupSubmit {
  height: 45px;
  width: 202px !important;
  font-weight: 600;
  background-color: white;
  color: gray;
  border: none !important;
  font-size: 100% !important;
  margin-top:1em !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
