.main-container { 
    position: fixed;
    overflow-y: auto;
    z-index: -1;
    left: 0;
    bottom: 54px;
    top: 0;
    right: 0;
    height:auto;
    width:auto;
}

.nav-bar {
    position: absolute;
    bottom: 0;
    left:0;
    height: 54px;
    width: 100%;
    background-color: whitesmoke;
    align-items: center;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    border-top:1px solid gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "mb1 mb2 mb3 mb4";
}

.mb1 {
    grid-area: mb1;
}

.mb2 {
    grid-area: mb2;
}

.mb3 {
    grid-area: mb3;
}

.mb4 {
    grid-area: mb4;
}

.mb1,
.mb2,
.mb3,
.mb4 {
    margin: auto;
    margin-top: 15px;
}

.highlight {
    filter: invert(50%) sepia(30%) saturate(2595%) hue-rotate(349deg) brightness(100%) contrast(91%);
}


#loginContainerPopup {
    width: 270px;
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    top: 10em;
    left: 50%;
    margin-left: -135px;
    display: none;
  }
  
  #loginContainerPopup>.loginNavBar {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-around;
  }
  
  #loginContainerPopup>.loginNavBar>div {
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
  }
  #loginContainerPopup>.loginNavBar>div:hover {
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
  }
  
  #loginContainerPopup>.loginSignupformContainer {
    padding: 5px;
    border-radius: 5px;
    
  }
  
  #loginContainerPopup>.loginSignupformContainer>div>input {
    padding: 5px;
    margin: 1px;
    border-radius: 3px;
    
  }
  
  .selectedNav {
    background-color: olivedrab;
  }
  

  
  #profileHamburgerMenu {
    width: 200px;
    background-color: whitesmoke;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    bottom: 65px;
    right: 10px;
    display: none;
  }
  
  #profileHamburgerMenu>div {
    text-align: center;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 5px;
  }
  
  #profileHamburgerMenu>div:hover{
    background-color: rgb(166, 219, 170);
    border: 1px solid black;
  }
  
  #navbarHamProfileButton {
    display: none;
  }