/*
 * This stylesheet makes references to the datepicker interface from JQuery UI.
 * dateWidget.js contains JavaScript functions
 * searchDate.html contains div layouts
 * @see https://api.jqueryui.com/datepicker/

 * CSS items in this document were used with permission from a colleague on the same BCIT COMP 2800 BBY-3 Team.
 * They were then used as a foundation to build this application.
 * @author Aidan McReynolds
 * @see https://github.com/AidanMcReynolds/1800project
 *
 * A code snippet was used as a foundation to create a scrolling division with a fixed element above it.
 * @author CrazyVideoGamez https://stackoverflow.com/users/12097913/crazyvideogamez
 * @see https://stackoverflow.com/questions/17954181/scrolling-only-content-div-others-should-be-fixed
 */

#main .card {
    width: 100%;
    max-width: 450px;
    border: darkgreen solid 1pt;
    color: darkgreen;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
}

#form{
    margin: 5%;
    text-align: center;
    border: darkgreen solid 1pt;
    color: darkgreen;
    border-radius: 5px;
}

#form *{
    margin-top: 2%;
}

#form #logo {
    font-size: 80pt;
}

#menu {
    display: grid;
    grid-template-columns: 50% 50%;
}

#result {
    text-align: center;
}

.card:hover {
    background-color: darkgreen;
    color: white;
}

.card.selected {
    background-color: darkgreen;
    color: white;
}

td.highlight {
    border: none !important;
    padding: 1px 0 1px 1px !important;
    background: none !important;
    padding: 2px !important;
}

td.highlight a {
    background: #99dd73 50% 50% repeat-x !important;
    border: 1px #88a276 solid !important;
}

#titleText {
    font-size: 24pt;
    text-align: center;
    padding: 0.25rem;
    margin: 0;
}

#dp {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-8px);
    overflow: visible;
}

#cal2 {
    min-width: 150px;
    max-width: 450px;
    margin: auto;
    padding: 0;
    border-style: solid;
    border-color: #88a276;
}

.ui-datepicker-today {
    background-color: rgb(0, 0, 0) !important;
}

.ui-datepicker-header {
    background: #EAEAEA;
    color: #333;
    font-weight: bold;
    line-height: 30px;
}

.ui-datepicker {
    display: block;
    text-align: center;
    font-family: "Helvetica";
    color: #666;
    background: #FFFFFF;
}

.date-block {
    text-align: center;
    background: #074431;
    font-family: "Helvetica";
    color: #EEE;
    font-size: 24pt;
    padding: 10px;
}

#date-day {
    font-size: 24pt;
}

#date-date {
    font-size: 24pt;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block;
    font-family: FontAwesome;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    color: transparent !important;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker-prev:before {
    content: "\f053";
    display: block;
    color: rgba(0, 0, 0, .3) !important;
}

.ui-datepicker-next:before {
    content: "\f054";
    display: block;
    color: rgba(0, 0, 0, .3) !important;
}

.datepicker-disable {
    pointer-events: none;
}

.ui-datepicker-year {
    font-weight: normal;
    background: rgb(255, 255, 255);
}

.ui-icon {
    background-image: url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: -48px -192px;
    width: 16px;
    height: 16px;
    color: #333333;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-datepicker-calendar {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background: #FFFFFF;
    font-family: "Helvetica";
}

.ui-datepicker td a {
    text-decoration: none;
}

.ui-datepicker td a,
.ui-datepicker td span {
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 10px 0;
    color: #333;
}

.ui-datepicker td span {
    color: #BBB;
}

.ui-datepicker .ui-state-active {
    background: #074431 !important;
    color: white;
}

.ui-datepicker .ui-state-highlight {
    background: #EEE;
}

.ui-datepicker td.past {
    color: #BBB;
}

.ui-datepicker a:hover {
    background: #2f9b7a !important;
    color: rgb(255, 255, 255);
}

#main {
    height: 47vh;
    margin-top: 52vh;
    text-align: center;
    overflow: auto;
}

@media (min-width:1000px) {
    #main .card {
        max-width: 1000px;
    }

    #cal2 {
        max-width: 1000px;
    }

    #calendar {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .date-block {
        padding-top: 4rem;
    }

    .date-block span:nth-of-type(2) {
        display: block;
    }

    #date-date {
        font-size: 48pt;
    }

    #main {
        margin-top: 46vh;
    }
}