#resultsContainer {
  display: flex;
  flex-wrap: wrap;
}

#resultsContainer>div {
  word-wrap: break-word;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.fa-heart {
  color: red;
}

#firebaseui-auth-container {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  margin: auto;
}