@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
#resultsContainer {
  display: flex;
  flex-wrap: wrap;
}

#resultsContainer>div {
  word-wrap: break-word;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

.fa-heart {
  color: red;
}




#loginContainerPopup {
  width: 270px;
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  top: 10em;
  left: 50%;
  margin-left: -135px;
  display: none;
}

#loginContainerPopup>.loginNavBar {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: space-around;
}

#loginContainerPopup>.loginNavBar>div {
  flex-grow: 1;
  border: 1px solid black;
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
}
#loginContainerPopup>.loginNavBar>div:hover {
  flex-grow: 1;
  border: 1px solid black;
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
}

#loginContainerPopup>.loginSignupformContainer {
  padding: 5px;
  border-radius: 5px;
  
}

#loginContainerPopup>.loginSignupformContainer>div>input {
  padding: 5px;
  margin: 1px;
  border-radius: 3px;
  
}

.selectedNav {
  background-color: olivedrab;
}

.likeButton {
  border: 1px solid black;
}

#profileHamburgerMenu {
  width: 200px;
  background-color: whitesmoke;
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  display: none;
}

#profileHamburgerMenu>div {
  text-align: center;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin: 5px;
}

#profileHamburgerMenu>div:hover{
  background-color: rgb(166, 219, 170);
  border: 1px solid black;
}

#navbarHamProfileButton {
  display: none;
}