@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 100%;
    transition: 0s;
}

body {
    background-color:#F8F8F8;

}

#error {
    color: red;
}

h1 {
    text-align: center;
    margin-bottom:1em;
}

.post {
    background-color:white;
    padding: 1em;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.post:hover {
    background-color: rgb(236, 236, 236);
}

#content {
    border-radius: 4px;
    background-color:white;
    margin: auto;
    height: 92%;
    max-width: 475px;
    max-height:500px;
    overflow-y:auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: all;
    opacity:98%;
}

#outer-content {
    border-radius: 4px;
    background-color: rgb(230, 245, 224);
    margin: auto;
    margin-top:1em;
    height: 100%;
    max-width: 475px;
    max-height:500px;
    overflow-y:hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: all;
    opacity:98%;
}

#outer-tree-content {
    border-radius: 4px;
    background-color: rgb(230, 245, 224);
    margin: auto;
    margin-top:1em;
    height: 81%;
    max-width: 475px;
    max-height:320px;
    min-height:320px;
    overflow-y:hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: all;
    opacity:98%;
}

#trees-near-header, #trees-content-header, #tree-name {
    color:gray;
    font-size:110%;
    margin:10px;
    height:20px;
    display:block;
}

#tree-content {
    border-radius: 4px;
    background-color:white;
    margin: auto;
    height: 100%;
    max-width: 475px;
    max-height:300px;
    overflow-y:auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: all;
    opacity:98%;
}

.title {
    font-weight: 900;
    margin-bottom: 1em;
}

.date {
    text-align: right;
    font-style: italic;
    font-weight: 100;
    margin-top:1em;
    color:lightgray;

}

.distance {
    font-style: italic;

}

*::-webkit-scrollbar {
    display: none;
}

.map-container { 
    z-index: -1;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;

}

.content-container { 
    user-select: none;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0px;
    width: 100%;
    height: 50%;
    overflow: visible;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(243, 243, 243));
    pointer-events: none;
}

.tree-overlay-container {
    display: none;
    user-select: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 50%;
    overflow: visible;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(243, 243, 243));
    pointer-events: none;
}

button {
    background: white;
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.75em;
    padding-bottom:0.75em;
    font-size: 110%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-right: none; 
    margin-left: -4px;
}

#main {
    overflow-y: scroll;
    padding-right:1em;
    padding-left: 1em;
    max-height:100%;
}

button:hover {
    background:rgb(236, 236, 236);
}

#button-container {
    position: sticky;
    bottom:0;
    padding: 1.7em;
    background: white;
    display:block;
    color: rgb(25,25,25);
}

#distance {
    font-style: italic;
}

#updated {
    font-style: italic;
    font-weight: 100;
    margin-top:1em;
    color:lightgray;
}

#body {
    font-size: 125%;
}

.dialogue {
    font-size: 125%;
    height:85%;
}

.error {
    color: rgb(219, 68, 55)
}

.svg-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    right: 1px;
    top:3px;
    bottom:0px;
    margin: auto
}

#hide-content-btn {
    height:17px;
    position:relative;
    top:2px;
    right:2px;
}