<!DOCTYPE html>
<html lang="en">
  <style>

  </style>
  <div id="loginContainerPopup">
    <div class="loginNavBar">
      <div id="loginNavButton" class=" selectedNav">Login</div>
      <div id="signupNavButton" class="">Signup</div>
      <div id="closeNavButton" class="">Close</div>
    </div>
    <div class="loginSignupformContainer">
      <div id="signupForm">
        <input id='signup_email' type='email' required="required" placeholder="email" />
        <input id='signup_username' type='text' required="required" placeholder="username" />
        <input id='signup_password' type='password' required="required" placeholder="Password" /><br>
        <input type="button" value="Signup" id="signupSubmit" />
        <p><span id="signupMsg"></span></p>
      </div>
      <div id="loginForm">
        <input id='login_email' type='email' required="required" placeholder="email" />
        <input id='login_password' type='password' required="required" placeholder="Password" /><br>
        <input type="button" value="Login" id="loginSubmit" />
        <p><span id="loginMsg"></span></p>
      </div>
    </div>

  </div>
  <div id="profileHamburgerMenu">
    <div id="navbarHamProfileButton">Profile</div>
    <div id="loginLogoutButton">Login</div>
    <div id="closeHamburgerMenu" onclick="$(this).parent().hide()">Close</div>
  </div>

</div>
<script>

</script>
</html>