<!DOCTYPE html>
<html lang="en">
<style>

</style>
<div class="login-container" style="display:none;">
  <div id="outer-login">
    <span id="login-header">LOGIN</span>
    <div id="loginContainerPopup">
      <div class="loginNavBar">
        <div id="loginNavButton" class="navButton">Login</div>
        <div id="signupNavButton" class="navButton" class="">Signup</div>
      </div>
      <div class="loginSignupformContainer">
        <div id="signupForm">
          <input id="signup_email" type="email" required="required" placeholder="Email" />
          <input id="signup_username" type="text" required="required" placeholder="Username" />
          <input id="signup_password" type="password" required="required" placeholder="Password" />
          <br>
          <input type="button" value="Signup" id="signupSubmit" />
          <img class="signInWithGoogle"
            src="https://firebasestorage.googleapis.com/v0/b/tree-hugger-c60ff.appspot.com/o/btn_google_signin_light_normal_web.png?alt=media&token=35ea5a9b-e406-4fa0-b445-8784d072b0f2"
            alt="Sign In With Google">
          <p><span id="signupMsg"></span></p>
        </div>
        <div id="loginForm">
          <input id="login_email" type="email" required="required" placeholder="Email" />
          <input id="login_password" type="password" required="required" placeholder="Password" />
          <br>
          <input type="button" value="Login" id="loginSubmit" />
          <img class="signInWithGoogle"
            src="https://firebasestorage.googleapis.com/v0/b/tree-hugger-c60ff.appspot.com/o/btn_google_signin_light_normal_web.png?alt=media&token=35ea5a9b-e406-4fa0-b445-8784d072b0f2"
            alt="Sign In With Google">
          <p><span id="loginMsg"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="profileHamburgerMenu">
  <a href="/home"><img style="max-height:40px;width:auto;display:block;margin:auto;padding-top:0.5em;"
      src="https://firebasestorage.googleapis.com/v0/b/tree-hugger-c60ff.appspot.com/o/treehug-logo%20-%20only.png?alt=media&token=7f722e0c-ceaa-439a-a504-0dd1501dea5e"></img></a>
  <div id="favouritesButton">Favourites</div>
  <div id="leaderboardButton">Leaderboard</div>
  <div id="historybtn">History</div>
  <div id="commentsbtn">Saved Trees</div>
  <div id="navbarHamProfileButton">Profile</div>
  <div id="loginLogoutButton">Login</div>
</div>

</div>



<script>

</script>

</html>