<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-firestore.js" ></script>
    <link rel="stylesheet" href="./am.css">
    <link rel="stylesheet" href="./navbar-common.css">

</head>
<body>
    <div id="menu">
        <div class="card" id="history">History</div>
        <div class="card" id="comments">Comments</div>
    </div>
    <div id="results">

    </div>

        <!-- This is where the Login Widget will go -->
        <script src="./loginFunctionForAnyPage.js"></script>
    <script src="./firebase_api_Group3.js"></script>
    <script src="./history.js"></script>
    <script src="./navbar-common.js"></script>
</body>