<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treehugger</title>
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="./navbar-common.css">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js" defer></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js" defer></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>
</head>

<body>
    <div id="logo-bg"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/tree-hugger-c60ff.appspot.com/o/treehug-logo.png?alt=media&token=65d15b73-9386-4ae5-a769-6b14bec02555" alt=""></div>
    <div id="container">
        <a><div class="card"><b>Welcome</b> to TreeHugger!</div></a>
        <a href="/aboutUs">

            <div class="card">About Us</div>
        </a>
        <a href="https://vancouver.ca/parks-recreation-culture/vancouver-tree-weekend.aspx" target="_blank">

            <div class="card">Help Plant Trees</div>
        </a>
    </div>
    
    <!-- Your own Firebase API key information -->
    <script src="./firebase_api_Group3.js"> </script>

    <!-- Common Navbar Script -->
    <script src="./navbar-common.js"></script>

    <!-- Additional Script -->
</body>

</html>