<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="./index.css">

    <!-- Firebase CSS for Authentication UI -->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js" defer></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-firestore.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-functions.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
</head>
    <body>
        <button id="profileButton">profileNew</button>
        <button id="loginButton">Login/Signup</button>
        <button id="whoami">whoami</button>
        <button id="logoutButton">Logout</button>
        <button id="viewIndividualTreeButton">viewIndividualTreeButton</button>
        
        <div id="profileOverlay" onclick="profileOverlayOff()">
            <div>uid:<p id="uidPlaceholder"></p></div>
            <div>name:<p id="namePlaceholder"></p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non qui unde, itaque repudiandae necessitatibus quo laborum similique facere voluptatum quibusdam excepturi inventore nulla? Iste facere molestias in! Odio, laboriosam in!</p>
        </div>

        <div id="viewIndividualTreeOverlay" >
            <div id="inputTreeId">find Individual tree by record ID: <input type='text' value='0278dd75aa3d0016371651b85bc4232746aa9d91'></div>
            <div id="debuginputTreeId"><b>searching tree: </b><span class="info"></span></div>
            <div id="resultsinputTreeIdRaw"><b>Raw tree info: </b></br><span class="info"></span></div>
            <div id="resultsinputTreeIdFormatted"><b>formatted Tree Info: </b></br><span class="info"></span></div>
            <div id="resultsWikiQueryRaw"><b>Raw from wiki: </b></br><span class="info"></span></div>
            <div id="resultsWikiQuery"><b>Extract: </b></br><span class="info"></span></div>
            <div id="resultsWikiQueryLink"><b>Link: </b></br><span class="info"></span></div>
        </div>

        <!-- This is where the Login Widget will go -->
        <h1 id="firebaseui-auth-container">&nbsp;</h1>

        <!-- Your own Firebase API key information -->
        <script src="./firebase_api_Group3.js"> </script>

        <script src="./client.js"></script>
        <script src="./viewIndividualTree.js"></script>
    </body>
</html>