<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js" defer></script>
    <link rel="stylesheet" href="./search.css">

    <!-- Firebase CSS for Authentication UI -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
</head>
<body>
    <button id="loginLogoutButton">Login/Signup</button>
    <h1 id="firebaseui-auth-container" style="display: none; margin: auto; position: fixed;">&nbsp;</h1>
    <div id="main">
        <div class="card" id="birth">Find your birth tree</div>
        <div class="card" id="anniversary">Find your anniversary tree</div>
        <div class="card" id="event">Find your special event tree</div>
    </div>
    <div id="form"></div>
    <div id="result"></div>

    <!-- This is where the Login Widget will go -->
    <script src="./loginFunctionForAnyPage.js"></script>

    <script src="./firebase_api_Group3.js"></script>
    <script src="./comment.js"></script>
    <script src="./match.js"></script>
</body>