<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page</title>
  <link rel="stylesheet" href="./profile.css" />
  <link rel="stylesheet" href="./navbar-common.css">

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js" defer></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js" defer></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  </script>
</head>

<body>
  <main>
    <h1>Profile page</h1>

    <span>Username: <span id="userNameArea"><span></span></span></span>
    </br>
    <span>Email: <span id="emailArea"></span></span>

  </main>

  <!-- Your own Firebase API key information -->
  <script src="./firebase_api_Group3.js"> </script>

  <!-- Common Navbar Script -->
  <script src="./navbar-common.js"></script>

  <!-- Additional Script -->
  <script src="./profileLogic.js"></script>
</body>

</html>