<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./searchMap.css">
    <link rel="stylesheet" href="./navbar-common.css">
    <title>Trees Near Me</title>
</head>

<body>
    <div class="search-container">
        <div id="outer-search">
            <span id="trees-near-header">SEARCH BY</span> 
        <div id="search">
            <br>
            <div id="search-tags">
                <div class="tag" id="date_name-tag" onclick="showSearchType('date_name-tag')">Date</div>
                <div class="tag" id="common_name-tag" onclick="showSearchType('common_name-tag')">Name</div>
                <div class="tag" id="species_name-tag" onclick="showSearchType('species_name-tag')">Species</div>
                <div class="tag" id="genus_name-tag" onclick="showSearchType('genus_name-tag')">Genus</div>
                <div class="tag" id="height_range_id-tag" onclick="showSearchType('height_range_id-tag')">Height</div>
                <div class="tag" id="on_street-tag" onclick="showSearchType('on_street-tag')">Street</div>
            </div>
          
            <div id="search-bar">
               
                <input type="text" list="data" id="query"/>
                <datalist id="data">
                </datalist>
                <button onclick="searchBtnClick()" id="search-btn"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.5 17.5L13.875 13.875" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                    </button>
            </div>
     <br>
            <div id="search-history">
                <div class="search-history-item">
                    <div class="search-query"></div>
                    <div class="search-type"></div>
                    <div class="arrow-icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </div>
                </div>
                <div class="search-history-item">
                    <div class="search-query"></div>
                    <div class="search-type"></div>
                    <div class="arrow-icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </div>
                </div>
                <div class="search-history-item">
                    <div class="search-query"></div>
                    <div class="search-type"></div>
                    <div class="arrow-icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </div>
                </div>
                <div class="search-history-item">
                    <div class="search-query"></div>
                    <div class="search-type"></div>
                    <div class="arrow-icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="content-container">
        <div id="outer-content">
            <span  onclick="toggleContentOverlay()" id="trees-near-header"><svg  id="hide-content-btn" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg><span id="content-title">TREES NEAR ME</span></span> 

        <div id="content">
            <!-- <div class="post">
                <div class="title"></div>
                <div class="distance"></div>
                <div class="body"></div>
                <div class="date"></div>
            </div> -->
        </div>
    </div>
    </div>
    <div class="tree-overlay-container">
        <div id="outer-tree-content">
            <span id="tree-name">PREVIEW</span>
        <div id="tree-content">
            <div id="main">
                <h2 id="species-name" onclick="treeNameClickSearch()"></h2>
                <div id="body"></div>
                <div id="distance"></div>
                <div id="date"></div>
                <div id="updated"></div>
            </div>
            <div id="button-container">
                <div id="street-view-container"><button id="street-btn">StreetView</button></div>
                <div id="other-view-container">          <button id="details-btn"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 16V12" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 8H12.01" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="24" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </button>
                <button id="close-btn" onclick="hideTreeOverlay()"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 14H10V20" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20 10H14V4" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 10L21 3" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 21L10 14" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                    </button></div>
      
            </div>
        </div>
    </div>
    </div>
    <div class="map-container">
        <div id="map">
        </div>
        <div id="pano"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/searchMap.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIu6Paiio4Zq0ySb6-LuMJOpFSt25RPz0&map_ids=b3163309c37356ea&callback=initMap"> </script>
        <script src="./navbar-common.js"></script>
</body>

</html>